body {
    margin: auto 1em;
}

header {
    text-align: center;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
}

th, td {
    border: solid 1px;
}

td {
    padding: 0;
}

td input {
    border: 0;
    background-repeat: no-repeat;
    background-position: right center;
    width: 100%;
}

.add {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
}
.add button {
    width: 100%;
    margin: auto;
    grid-column: 1/3;
}

footer {
    text-align: center;
}